/*- RESET ----------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
fs
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }
body { line-height: 1; }
ol,ul  list-style: none; 
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,
q:before,q:after { content: ''; content: none; }
:focus { outline: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-spacing: 0; border-collapse: collapse; }
a { text-decoration: none; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*- TYPOGRAPHY ----------------------------------- */

html,body {
    height: 100%;
    min-height: 100%;
}

body {
  background: #f3f0f0;
  color: #504a46;
  font-family: /*'garamond-premier-pro-caption','Adobe Garamond Pro',*/'Sans Serif','Georgia', serif;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  position: relative;
}
h1, h2, h3, h4, h5 {
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 36px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', serif;
}

h1 { 
  font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

p {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Sans Serif','Georgia', serif;
  line-height: 36px;
}
a, a:visited, a:active {
  color: #EC6F66;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
a:hover {
  color: #504a46;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
em { 
  font-style: italic;
}
strong {
  font-weight: bold;
}

.highlight {
    background-color: #fffbd7;
    padding: 2px 4px;
    border-radius: 4px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.invisi {
    visibility: hidden;
}

.centered {
    display: block;
    margin: 0 auto;
}


article.post ul, article.post ol {
  margin: 0 0 36px 40px;
  font-size: 20px;
}
article.post ul {
  list-style: disc;
}
article.post ol {
  list-style: none;
}
article.post li {
  line-height: 30px;
  margin-bottom: 8px;
}

article.post blockquote {
  margin-bottom: 36px;
  padding: 0 20px 0 36px;
  border-left: 4px solid #CCCCCC;
  color: #999999;
  font-style: italic;
  font-size: 26px;
  line-height: 40px;
}

/*- BUTTONS ----------------------------------*/
.btn-jacket {
    display: block;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
    height: auto;
    text-align: center;
}

.btn-jacket .button {
    box-shadow: 0px 1px 0px rgba(0,0,0,0.10);
    text-shadow: 0px 1px 0px rgba(0,0,0,.10);
}

#payButton {
    display: block;
    margin: 72px auto;
    padding: 4px 12px;
    width: auto;
    width: 12rem;
    height: 4rem;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'brandon-grotesque', 'grot', 'Open Sans';
    -webkit-text-rendering: antialiased;
    transition: none;
    line-height: 3.3rem;
    background: none;
    border: 4px solid #EC6F66;
    color: #EC6F66;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
   }

#payButton:hover {
    color: #504a46;
    border-color: #504a46;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}   


.button {
    padding: 6px 24px;
    height: 4rem;
    border-radius: 4px;
    text-align: center;
    width: auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'brandon-grotesque', 'grot', 'Open Sans';
    -webkit-text-rendering: antialiased;
    transition: none;
    line-height: 3.3rem;
    -webkit-transition: none;
    -moz-transition: none;
    background: none;
    border: 4px solid #EC6F66;
    color: #EC6F66;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
   }

.button:hover {
    color: #504a46;
    border-color: #504a46;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


/*- LAYOUT ----------------------------------- */
#bump {
  margin: 0 auto -320px;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.wrap {
  margin: 0 auto;
  width: 960px;
}
.wrap.post {
  padding: 0 146px;
}

.wrap:after {
  display: table;
  clear: both;
  content: "";
}

.archive-wrap {
    margin: 0 auto;
    min-width: 300px;
    max-width: 860px;
    width: 90%;
}

.archive-wrap:after {
  display: table;
  clear: both;
  content: "";
}

.post img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

/*- HEADER ----------------------------------- */
header.site-header {
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  color: #504a46;
  background-color: #F3F0F0;

}
header.site-header a.menu {
  display: none;
}
header.site-header hgroup h1, header.site-header nav ul {
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
}
header.site-header hgroup {
  float: left;
}
header.site-header hgroup h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}
header.site-header hgroup h1 a {
  color: #504a46;
}
header.site-header hgroup h1 a:hover {
  color: #EC6F66;
}
header.site-header nav {
  display: block;
  float: right;
  
}
header.site-header nav ul li {
  display: inline;
  margin-left: 20px;
  font-size: 18px;
}
header.site-header nav ul li a {
  color: #504a46;
}
header.site-header nav ul li a:hover {
  color: #EC6F66;
}

/*********** Lander ***********/

.portf {
    min-height: 600px;
    border-bottom: 4px solid #DAD7D7;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    margin-bottom: none;
    display: block;
}


.sl-head {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
}

.portf:after {
  display: table;
  clear: both;
  content: "";
}

.wrap-alt {
       width: 86vw; 
       margin: 0 auto;
       max-width: 1600px;
    }
}


.sl1 {
    height: 100%;
}

.arrow {
    font-family: "Icons";
    color: #EC6F66;
    display: block;
    font-size: 40px;
    text-align: center;
    width: 100px;
    position: absolute;
    bottom: 7%;
    margin-left: -50px;
    left: 50%;
    z-index: 0;
}

.center-me {
    position: absolute;
    top: 35%;
    display: block;
    left: 50%;
    margin-left: -319px;
    z-index: -1;
}

.avatar {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    opacity: .7;
    position: relative;
}

.intro {
    position: relative;
    width: intrinsic;
    display: inline-block;
    top: -40px;
    left: 8vw;
    margin: 0 auto;
    text-align: left;
}

.intro h1 {
    text-transform: capitalize;
}

.intro h1, .intro h2 {
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
}

.sl2 {
    background: #EC6F66;
    z-index: 1;
    overflow: hidden;
    height: 100%;
}

.sl2 h1 {
    margin-top: 50%;
    color:#f3f0f0; 
}

.sl2 .button {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 240px;
    line-height: 36px;
    background-color: none;
    border-color: #f3f0f0;
    text-transform: uppercase;
    color: #f3f0f0;
    padding: none;
    font-weight: 900; 
    font-size: 20px;
    height: 52px;
    min-width: 140px;
    margin-top: 10%;
    letter-spacing: 2px;
    box-shadow: 0px 1px 0px rgb(184,52,52);
    text-shadow: 0px 1px 0px rgb(184,52,52);
}

.sl2 .button:hover {
    color: #504a46;
    border-color: #504a46;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: 0px 1px 0px rgba(35,35,35,.3);
    text-shadow: 0px 1px 0px rgba(35,35,35,.3);
}

.sl2 .button:active {
    box-shadow: none;
    text-shadow: none;
}

.sl2 .cta {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
    color: #f3f0f0;
    float: left;
}

@media only screen and (max-width : 1200px) {
    .wrap-alt {
       width: 90%; 
    }
    .g2 {
       width: 45% 
    }
    .cta h1 {
    }
}


.g2 {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.g2:after{
    display: table;
    clear: both;
    content: ""; 
}

  
.code {
    position: relative;
    display: inline-block;
    float: right;
    z-index: 100;
}

#tripwire {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 90%;
}
  
.window {
    width: auto;
    height: 100%;
    position: absolute;
    left: 12%;
    overflow:hidden;
    bottom: -15%;
    display: none;
    box-shadow: -10px 20px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
}

.sl3 {
    min-height: 700px;
    height: 100%;
    max-height: 900px;
}

#tripwire-2 {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 184%;
    z-index: 100;
}

.g-wrap {
   display: block;
   margin: 0 auto;
   position: relative;
   margin-top: 7%;
}


.g3 {
    width: 33%;
    display: inline-block;
    height: auto;
    min-height: 400px;
    position: relative;
}

.g3 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.g3 h2 {
    text-align: center;
    padding-top: 15%;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    text-transform: capitalize;
}

.g3 p {
    font-size: 18px;
    line-height: 27px;
    padding-top: 18px;
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 14%;
}

.g3 .scale {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: .6s;
  -webkit-animation-fill-mode: both;
}

.g3:after{
    display: table;
    clear: both;
    content: ""; 
}

.sl4 {
    min-height: 90%;
    height: auto;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    border-bottom: none;
}

.portf .case-wrap {
    margin: 7% auto;
    width: 100%;
}

.case-list ol {
    display: inline-block;
    list-style: none;
    width: 100%;
}

.wrap-alt .flexi {
    width: 100%;
    display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}

.wrap-alt .flexi > div {
    border: 8px solid rgba(255,255,255,1);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    width: 48%;
    margin: 1%;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.flexi .case-title {
    display: block;
    width: 100%;
    background: white;
    opacity: 1;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
}

.flexi div h1 {
   margin-bottom: 0;
   margin-top: 0;
   text-align: center;
   letter-spacing: 1px;
   font-size: 36px;
   margin-top: 0;
   line-height: 54px;
   top: 5%;
   z-index: 10;
   position: absolute;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
   width: 100%;
   display: block;
}

.flexi p {
    margin-bottom: 0;
    top: 25%;
    width: 90%;
    font-size: 18px;
    line-height: 27px;
    z-index: 100;
    left: 6%;
    position: absolute;
}
 

.case-list li {
    float: left;
    display: block;
    border: 8px solid rgba(255,255,255,1);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    width: 48%;
    margin: 1%;
    box-shadow: 0 4px #E0E0E0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.case-list li:hover {
    box-shadow: 0 6px #E0E0E0;
    bottom: 2px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
        /* Animations 
    -webkit-animation: hoverSmall 3s infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: hoverSmall 3s infinite;
    -moz-animation-timing-function: ease-in-out; 
    */
}

.case-list li:active {
    box-shadow: 0 0px #e0e0e0;
    bottom: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.case-list li:last-child {
    margin-bottom: 10%;
}

.case-list:hover > a {
    opacity: .5;
}

.case-list:hover > a:hover {
    opacity: 1;
}


.case-img {
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.case-list h1 {
   margin-bottom: 0;
   margin-top: 0;
   letter-spacing: 1px;
   font-size: 36px;
   margin-top: 0;
   line-height: 54px;
   top: 5%;
   z-index: 10;
   position: absolute;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
   width: 100%;
   display: block;
   text-align: center;
}

.case-list .case-title {
    display: block;
    width: 100%;
    background: white;
    opacity: 1;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
}

.case-deets {
    background: #EBE8E8;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 50;
    opacity: 0;
    left: 0px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.case-deets:hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

@media only screen and (min-width: 1200px) {
    .case-list li {
        width: 31%;
    }
    
    .wrap-alt .flexi > div {
        width: 31%
    }
}

@media only screen and (max-width: 700px) {
    
    .wrap-alt .flexi > div {
        width: 100%
    }
    
    .case-list ol {
        display: block;
        list-style: none;
    }
    .case-list li {
        float: none;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 3%;
    }
    .case img {
        display: none;
    }
}

.case-list .case-title {
    display: block;
    width: 100%;
    background: white;
    opacity: 1;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
}

.case-deets {
    background: #EBE8E8;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 50;
    opacity: 0;
    left: 0px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.case-deets:hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.case-list p {
    margin-bottom: 0;
    top: 25%;
    width: 90%;
    font-size: 18px;
    line-height: 27px;
    z-index: 100;
    left: 6%;
    color: #504a46;
    position: absolute;
}

.case-list a:hover {
    color: #EC6F66;
}

.case-list a h1:hover {
    color: #504a46;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.sl-head {
    margin-top: 8%;  
}


@media only screen and (max-width : 900px) {

.center-me {
    position: absolute;
    top: 35%;
    display: block;
    left: 50%;
    margin-left: -239px;
}

.avatar {
    width: 130px;
    height: 130px;
    opacity: .7;
}

.intro {
    position: relative;
    top: -28px;
}

.intro p {
    margin-bottom: 8px;
}

.intro h1 {
    font-size: 32px;
    line-height: 1.5em;
}

.intro h2 {
    font-size: 28px;
}

.sl-head {
    font-size: 30px;
    margin-top: 7%;
}

.sl3 {
    min-height: 1000px;
    height: auto;

}

.g-wrap {
    height: auto;
}

.g3 {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 600px;
    min-height: 270px;
}
.g3 img {
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    margin-right: 1em;
}

.g3 .info {
    display:inline-block;
    float: right;
    width: 65%;
    position: relative;
}

.first .info {
    top: -16px;
}

.second .info {
    top: -22px;
}

.third .info {
    top: -20px;
}

.second img {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}



.g3 .second info {
    float: left;
}

.g3 h2, .g3 p {
    position: relative;
    left: 0;
}

.submitted h2 {
    font-size: 28px;
}


} /* End Media Queries for Tablets */

@media only screen and (max-width : 600px) {

.portf {
    
}

.center-me {
    display: block;
    margin: 0 auto;
    left: 50%;
    margin-left: -140px;
    position: absolute;
    top: 30%;
}

.intro {
    top: 2rem;
    left: 0;
    display: block;
}

.intro h1 {
    font-size: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.g2 {
    width: 100%;
}

.code {
  display: none;  
}

.intro h2 {
    font-size: 22px;
}

.intro p {
    margin-bottom: 4px;
}

.avatar {
    top: 0;
    width: 120px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
}

.work a {
    display: block;
    width: 100%;
    padding: 1%;
}

.sl3 {
    display: none;
}

#sl5 {
    display: block;
    height: 100%%;
}

.submitted .previous-posts {
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.submitted .previous-posts h1 {
    margin-top: 10%;
}


.submitted p {
    font-weight: 500;
    line-height: 1.4em;
    margin-bottom: 0;
    font-size: 20px;
    left: 0;
    position: relative;
}

.submitted .featured-image-mini {
    display: none;
}

.submitted .previous-posts li {
    margin-bottom: 1rem;
    margin-top: 0;
}


.submitted .deets h1 {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1px;
    max-width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
}

}

/*********** About Me ***********/


.abt-featured {
    position: relative;
    z-index: -1;
    width: 668px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 16px;
}

.about-me {
    display: inline-block;
    margin-left: 36px;
    font-size: 54px;
    margin-top: 0;
    color: #d2d2d2;
    position: relative;
    top: -40px;
    line-height: 1.5em;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.abt-featured img {
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 25px;
    border-radius: 4px;
    background: #EC6F66;
}

.abt-avatar {
    display: inline-block;
    width: 120px; 
    border-radius: 4px;
}

.chartwell {
    font-style: 200px;
    color: rgba(236,111,102,0.75);
}

.data-blocks {
    min-height: 20%;
    height: auto;
}

.miles-today {
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.data-blocks h3 {
    color: #d2d2d2;
    margin-bottom: 6px;
}

.today {
    width: auto;
    height: 30px;
    padding: 5px 32px;
    box-sizing: border-box;
    line-height: 52px;
    background: #5EBBC9;
    text-align: center;
    border-radius: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 24px;
    font-weight: bold;
    color: #f3f0f0;
    font-family: "brandon-grotesque","grot";
}

.flexin {

}

.scrobble {
    height: 300px; 
    display: block;
    margin: 0 auti;
    margin-right: -4px;

}

.miles-this-week {
    height: 300px;
    border-radius: 4px;
    margin-right: -4px;
    font-size: 360px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 20px auto;
}

.mileage {
    position: relative;
    width: auto;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.week {
    color: #5EBBC9;
    top: -60px;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}

.weekA {
    position: absolute;
    left: 50%;
    margin-left: -218px;
}

.weekB {
    position: absolute;
    left: 50%;
    margin-left: -238px;
}

#tweets {

}

.pixels-drib, .miles-today {
    width: 49%;
    display: inline-block;
    text-align: center;
}

.pixels a {
    background: #ea4c89;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.pixels a:hover {
    background: #df3e7b;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.pixels a, .pixels a:hover {
    width: auto;
    height: 30px;
    padding: 5px 32px;
    box-sizing: border-box;
    line-height: 52px;
    text-align: center;
    border-radius: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 24px;
    font-weight: bold;
    color: #f3f0f0;
    font-family: "brandon-grotesque","grot";
}

.pixels h3 {
    margin-bottom: 0;
    font-size: 24px;
}




/*- ARTICLE ----------------------------------- */
section.article {
  position: relative;
  margin-bottom: 50px;  
}

section.archive {
  margin-top: 50px;  
  margin-bottom: 50px;
}

.archive-wrap .post-list {
    width: 100%;
    list-style: none;
    list-style-type: none;
}

.post-list .bb{
    border-bottom: 4px solid #EC6F66;
}

section.archive ol.post-list li {
  margin-bottom: 18px;
  padding: 72px 0;
  width: 100%;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.deets {
    position: relative;
    top: 45px;
    z-index: 5;
}

.deets h1 {
    line-height: auto;
}

.deets .date {
    position: relative;
    margin-bottom: 0;
    left: 6px;
    color: #b1b1b1;
    font-style: normal;
    font-size: 18px;
    top: 10px;
    font-family: 'brandon-grotesque','grots','Open Sans', sans-serif;

}

.featured-image-small {
    float: left;
    position: relative;
    z-index: 10;
    margin-right: 3em;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


section.archive ol.post-list li span, section.archive ol.post-list li span time {
  vertical-align: middle;
  font-size: 15px;
  line-height: 36px;
}
section.article img.loading {
  position: absolute;
  top: 10%;  
  left: 50%;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-left: -1.2rem;
}

section.article div.featured-image {
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  max-height: 800px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.article article.post header.post-header {
  margin: 72px 0 36px 0;
}
section.article article.post header.post-header hgroup {
  position: relative;
  width: 100%;
  color: #504a46;
  text-align: center;
}
section.article article.post header.post-header hgroup p.date {
  margin-top: 24px;
  color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
}
section.article article.post header.post-header hgroup h1 {
  margin-bottom: 18px;
  letter-spacing: -1px;
}
section.article article.post header.post-header hgroup p.lead {
  margin-bottom: 0;
  text-align: left;
  font-size: 28px;
  line-height: 40px;
}

section.article article.post h1, h2, h3, h4, h5 {
    margin-bottom: 18px;
}

section.article article.post figure {
  margin: 36px 0;
}
section.article article.post figure figcaption {
  font-style: italic;
  font-size: 12px;
}
section.article article.post figure img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
section.article article.post p.meta {
  color: #999999;
  font-style: italic;
  font-size: 16px;
}
section.article article.post .video-container {
  position: relative; overflow: hidden;
  margin-bottom: 36px;
  padding-top: 30px;
  padding-bottom: 56.25%; height: 0;
}

section.article article.post .video-container iframe,
section.article article.post .video-container object,
section.article article.post .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hilite {
    display: inline-block;
    padding: 0 0.3em;
    border-radius: 4px;
    background: rgba(255,251,183,.7);
}

/*- FOOTER ----------------------------------- */
.push {
  height: 320px !important; 
  }
  
footer {
  margin-top: 50px;
  padding-bottom: 20px;
  height: 320px;
  background-color: #504a46;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
}

footer aside {
    overflow: hidden;
}


/* Social */

.social {
  float: right;
  padding-top: 102px;
  width: auto;
  font-size: 20px;
  font-family: 'Sans Serif','Open Sans', sans-serif;
  overflow-y: hidden;
   }
  .social ul {
    list-style: none;
    list-style-type: none; }
    .social ul li {
      margin-bottom: 38px; }
    .social ul li:last-child {
        margin-bottom: 0;
    }
  .social .foot-link {
    margin-left: 10px; 
    }
@media only screen and (max-width : 760px) {
    .social {
        padding-top: 72px;
        width: 80px;
    }
    .social ul li {
        margin-bottom: 30px;
    }
    
    .social .icons {
        float: right;
        text-align: right;
        font-size: 30px;
    }
    .foot-link {
        visibility: hidden;
    }
    .social ul li:first-child {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width : 620px) {
    .social .icons {
        float: right;
        text-align: right;
    }
    
    .previous-posts {
        width: 220px;
    }
    
    .recent-list {
        width: 220px;
    }
    
    .date {
        display: none;
    }
    
    .foot-link {
        visibility: hidden;
    }
}

@media only screen and (max-width : 480px) {
    .social {
        display: none;
    }
    
    .previous-posts {
        max-width: 90vw;
        width: auto;
        width: 320px;
    }
    
    .previous-posts ol li {
        width: 330px;
    }
    
    .recent-list {
        max-width: 90vw;
        width: 320px;
        width: auto;
    }
}

.icons {
  font-size: 14px;
  font-family: "Icons";
  line-height: 20px; }
  .icons a {
    border-bottom: none; }

#mail {
  color: #fbfaf8; }
  #mail:hover {
    color: rgba(251, 250, 248, 0.7); }

#drib {
  color: #EC9E92; }
  #drib:hover {
    color: rgba(236, 158, 146, 0.7); }

#twit {
  color: #4099FF; }
  #twit:hover {
    color: rgba(64, 153, 255, 0.7); }

/* Recent Posts */

.previous-posts {
    float: left;
    list-style-type: none;
    line-height: 48px;
    font-family: 'Sans Serif', serif;
    overflow-y: hidden;
}

.previous-posts p {
    padding-top: 72px;
    font-family: 'Sans Serif', serif;
}

.unprepped {
    position: absolute;    
}

footer .recent-list {
  margin-bottom: 0;
  padding-top: 36px;
  border-bottom: 4px solid #A5DA95;
  color: #FBFAF8;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 26px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
  line-height: 38px;
}

footer ol.previous-posts li {
  margin-top: 10px;
  width: auto;
}
footer ol.previous-posts li:after {
  display: table;
  clear: both;
  content: '';
}
footer ol.previous-posts li .recent-title {
  float: left;
  width: 220px;
  line-height: 24px;
  padding-top: 12px;
  font-family: 'Sans Serif', serif;
}
footer ol.previous-posts li a {
  color: #FBFAF8;
}
footer ol.previous-posts li a:hover {
  color: #EC6F66;
}
footer ol.previous-posts li span.date {
  float: right;
  color: #777D88;
  text-align: right;
  font-size: 16px;
  position: relative;
  top: 2px;
  font-family: 'Sans Serif', sans-serif;
}


/*- MEDIA QUERIES ----------------------------------- */
@media only screen and (max-width : 960px) {
  
   footer {
      overflow-x: hidden !important;
  }
  
  h1 { 
        font-size: 38px;
  }

    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-weight: bold;
        font-style: italic;
        font-size: 22px;
    }
    
    p {
      margin-bottom: 33px;
      font-weight: 400;
      font-size: 22px;
      font-family: 'Sans Serif','Georgia', serif;
      line-height: 33px;
    }
    
    section.article article.post header.post-header hgroup p.lead {
        font-size: 26px;
        list-style: 39px;
    }
  
  
  .wrap {
    max-width: 100%;
    width: 100%;
  }
  .wrap.post {
    padding: 0 8%;
    max-width: 700px;
    overflow-x: hidden;
  }
  header.site-header {
    padding: 20px 7%;
    overflow-x: hidden;
  }
  
   /* All Posts */
   
   .archive-wrap {
       width: 600px;
   }
   
    .deets {
        position: relative;
        top: 20px;
}

    section.archive ol.post-list li {
      padding-top: 36px;
      padding-bottom: 36px;
      width: 100%;
      font-size: 24px;
    }

    .featured-image-small {
        float: left;
        margin-right: 2em;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

    section.archive ol.post-list li span, section.archive ol.post-list li span time {
      vertical-align: middle;
      font-size: 15px;
      line-height: 20px;
    }
    
    .post-list h1 {
        font-size: 40px;
        line-height: 50px;
    }

  
}

@media only screen and (max-width : 680px) {
 
 /* All Posts */
  
   footer {
      overflow-x: hidden !important;
  }
  
  section.archive {
      margin-top: 50px;
  }
  
   .archive-wrap {
       width: 80%;
       display: block;
       margin: 0 auto;
   }
   
   
   .post-list h1 {
       font-size: 36px;
       line-height: 45px;
   }
  
    .deets {
        position: relative;
        top: 20px;
}

    .featured-image-small {
        float: left;
        margin-right: 1em;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

    section.archive ol.post-list li {
      padding-top: 36px;
      padding-bottom: 36px;
      width: 100%;
      font-size: 24px;
    }
      
  section.article img.loading {
    top: 10px !important;
    right: 6%;
    left: inherit;
  }

  section.article article.post header.post-header {
      margin: 36px 0;
  }

  article.post header.post-header hgroup h1 {
    font-size: 28px !important;
  }
  article.post header.post-header hgroup p.date {
    font-size: 12px !important;
    font-family: 'Sans Serif','Open Sans', sans-serif;

  }
  article.post p, article.post ul, article.post ol {
    margin-bottom: 30px;
    font-size: 20px !important;
    line-height: 30px !important;
  }
  article.post ul, article.post ol {
    margin-left: 30px;
  }
  article.post li {
    line-height: 30px !important;
  }
  article.post p.lead, article.post blockquote {
    font-size: 24px !important;
  }
  article.post blockquote {
    padding-left: 20px;
    line-height: 20px;
  }
  header.site-header {
    min-height: 59px;
  }
  header.site-header hgroup h1 {
    margin-bottom: 0;
  }
  header.site-header hgroup {
    position: absolute;
    left: 7%;
    float: none;
  }
  header.site-header a.menu {
    position: absolute;
    right: 7%;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
  }
  header.site-header a.menu img {
    width: 16px;
    height: 16px;
  }
  header.site-header nav {
    display: none;
    float: none;
    width: 100%;
  }
  header.site-header nav:before {
    display: table;
    clear: both;
    content: '';
  }
  header.site-header nav ul {
    padding: 45px 0 10px 0;
    background: #f3f0f0;
  }
  header.site-header nav ul li {
    display: block;
    margin-left: 0;
    border-top: 1px solid #DDDDDD;
    font-size: 24px;
    background: #f3f0f0;

  }
  header.site-header nav ul li a {
    display: block;
    padding: 15px 0;
    width: 100%;
    color: #504a46;
    background: #f3f0f0;

  }
  header.site-header nav ul li a:active {
    background-color: #EC6F66;
    color: #f3f0f0;
  }
}

@media only screen and (max-width : 500px) {

/* All Posts */

footer {
      overflow-x: hidden !important;
  }
  
  h1 { 
        font-size: 36px;
  }

    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
    }
    
    p {
      margin-bottom: 27px;
      font-weight: 400;
      font-size: 18px;
      font-family: 'Sans Serif','Georgia', serif;
      line-height: 27px;
    }
    
    section.article article.post header.post-header hgroup p.lead {
        font-size: 22px;
    }

.archive-wrap {
    margin: 0 auto;
    width: 96%;
}

.post-list li {
    width: 100%;
    height: 100px;
    text-align: center;
}

   .post-list h1 {
       font-size: 30px;
       line-height: 48px;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       width: 200px;
       margin: 0 auto;
   }
   
   .post-list lh h1 {
    overflow: visible;
    line-height: 48px
   }
  
    .deets {
        position: relative;
        top: 25px;
}

    section.archive ol.post-list li {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 24px;
      margin: 0 auto;
    }

.featured-image-small {
    display: none;
}

.deets.date {
    display: inline-block;
    visibility: visible;

}


section.article img.loading {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-left: -12px;
}

section.article div.featured-image {
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  max-height: 260px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.article .payment {
    min-height: 120px;
}

section.article article.post header.post-header hgroup p.lead {
font-size: 20px;
}


footer p.recent-list {
  margin-bottom: 15px;
  border-bottom: 4px solid #A5DA95;
  color: #FBFAF8;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 24px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
  line-height: 30px;
}

.previous-posts li span.date {
  visibility: hidden;
}

}


/* Animations */
@-webkit-keyframes scale-in
{
    0% { 
        opacity             : 0;
        -webkit-transform   : scale(.05);
    }
    100% {
        opacity             : 1;
        -webkit-transform   : scale(1);
    }
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}


@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-90px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes fadeInLeftLess {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

.featured-image-small {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: .6s;
  -webkit-animation-fill-mode: both;
}

.scale {
    -webkit-animation-name: scale-in;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;  
}

.scale-quick {
    -webkit-animation-name: scale-in;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: both;  
}

.fadeIn {
    animation: fadeInDown .5s cubic-bezier(.05,.35,1,.55);
    -webkit-animation: fadeInDown .5s cubic-bezier(0.5, -0.005, .1, .2);
}

.fadeInUp {
    animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
    -webkit-animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
}

.left-slide {
     -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: 1.2s;
     -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);
    -webkit-animation-delay: 1s; 
    -webkit-animation-fill-mode: both;
}

.left-slide-less {
     -webkit-animation-name: fadeInLeftLess;
    -webkit-animation-duration: .8s;
     -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);
    -webkit-animation-delay: 1.2s; 
    -webkit-animation-fill-mode: both;
}

.hovering {
    -webkit-animation: hovering 3s infinite;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: hovering 3s infinite;
    -moz-animation-timing-function: ease-in-out;
}


@-webkit-keyframes hovering {
    0% {-webkit-transform:translate(0, 0); }
    50% {-webkit-transform:translate(0, 7px);}
    100% {-webkit-transform: translate(0, 0); }    
}

@-webkit-keyframes hoverSmall {
    0% {-webkit-transform:translate(0, 0); }
    50% {-webkit-transform:translate(0, 2px);}
    100% {-webkit-transform: translate(0, 0); }    
}

@-webkit-keyframes slide {
    0% { bottom: -18%; opacity: 0; }
    100% { bottom: -15%; opacity: 1; }
}

.slide {
  animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -moz-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-80px) scale(1);

	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px) scaleX(1.05) scaleY(.92);

	}

	40% {
		-webkit-transform: translateY(10) scaleX(.99) scaleY(1.0);

	}

	60%, 100% {
		-webkit-transform: translateY(0) scale(1);

	}
}

.bounceDown {
    animation: bounceInDown .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: bounceInDown .9s cubic-bezier(0.5, -0.005, .1, 1);

}


/* Icon Font */    
    @font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Icons';
    src: url('http://static.tumblr.com/d0zy9go/tLxmiwev5/icons.eot');
    src: url('http://static.tumblr.com/d0zy9go/tLxmiwev5/icons.eot') format('embedded-opentype'),
         url('http://static.tumblr.com/d0zy9go/0EPmiwewl/icons.woff') format('woff'),
         url('http://static.tumblr.com/d0zy9go/muzmiwew1/icons.ttf') format('truetype'),
         url('http://static.tumblr.com/d0zy9go/Wccmiwex1/icons.svg') format('svg');
}







