/*- RESET ----------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }
body { line-height: 1; }
ol,ul  list-style: none; 
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,
q:before,q:after { content: ''; content: none; }
:focus { outline: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-spacing: 0; border-collapse: collapse; }
a { text-decoration: none; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*- TYPOGRAPHY ----------------------------------- */
body {
  background: #f3f0f0;
  color: #504a46;
  font-family: /*'garamond-premier-pro-caption','Adobe Garamond Pro',*/'Sans Serif','Georgia', serif;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5 {
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 36px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', serif;
}
h1 { 
  font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

p {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  font-family: /*'garamond-premier-pro-caption','Adobe Garamond Pro',*/'Sans Serif','Georgia', serif;
  line-height: 36px;
}
a, a:visited, a:active {
  color: #EC6F66;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
a:hover {
  color: #504a46;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
em { 
  font-style: italic;
}
strong {
  font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.invisi {
    visibility: hidden;
}

.centered {
    display: block;
    margin: 0 auto;
}


article.post ul, article.post ol {
  margin: 0 0 36px 40px;
  font-size: 25px;
}
article.post ul {
  list-style: disc;
}
article.post ol {
  list-style: none;
}
article.post li {
  line-height: 30px;
}
article.post blockquote {
  margin-bottom: 36px;
  padding: 0 20px 0 36px;
  border-left: 4px solid #CCCCCC;
  color: #999999;
  font-style: italic;
  font-size: 26px;
  line-height: 40px;
}

/*- BUTTONS ----------------------------------*/
.btn-jacket {
    display: block;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
    height: auto;
    text-align: center;
}

#payButton {
    display: block;
    margin: 72px auto;
    padding: 4px 12px;
    width: auto;
    width: 12rem;
    height: 4rem;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'brandon-grotesque', 'grot', 'Open Sans';
    -webkit-text-rendering: antialiased;
    transition: none;
    line-height: 3.3rem;
    -webkit-transition: none;
    -moz-transition: none;
    background: none;
    border: 4px solid #EC6F66;
    color: #EC6F66;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
   }

#payButton:hover {
    color: #504a46;
    border-color: #504a46;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}   


.button {
    padding: 6px 24px;
    height: 4rem;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'brandon-grotesque', 'grot', 'Open Sans';
    -webkit-text-rendering: antialiased;
    transition: none;
    line-height: 3.3rem;
    -webkit-transition: none;
    -moz-transition: none;
    background: none;
    border: 4px solid #EC6F66;
    color: #EC6F66;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
   }

.button:hover {
    color: #504a46;
    border-color: #504a46;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


/*- LAYOUT ----------------------------------- */
#bump {
  margin: 0 auto -320px;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.wrap {
  margin: 0 auto;
  width: 960px;
}
.wrap.post {
  padding: 0 146px;
}

.wrap:after {
  display: table;
  clear: both;
  content: "";
}

.archive-wrap {
    margin: 0 auto;
    min-width: 300px;
    max-width: 860px;
    width: 90%;
}

.archive-wrap:after {
  display: table;
  clear: both;
  content: "";
}

.post img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

/*- HEADER ----------------------------------- */
header.site-header {
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  color: #504a46;
}
header.site-header a.menu {
  display: none;
}
header.site-header hgroup h1, header.site-header nav ul {
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
}
header.site-header hgroup {
  float: left;
}
header.site-header hgroup h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}
header.site-header hgroup h1 a {
  color: #504a46;
}
header.site-header hgroup h1 a:hover {
  color: #EC6F66;
}
header.site-header nav {
  display: block;
  float: right;
  
}
header.site-header nav ul li {
  display: inline;
  margin-left: 20px;
  font-size: 18px;
}
header.site-header nav ul li a {
  color: #504a46;
}
header.site-header nav ul li a:hover {
  color: #EC6F66;
}

/*********** Lander ***********/

.portf {
    height: 90vh;
    min-height: 600px;
    border-bottom: 4px solid #DAD7D7;
    overflow-x: hidden;
    max-width: 100%;
    margin-bottom: none;
}

.portf h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10vh;
    text-align: center;
}

.portf:after {
  display: table;
  clear: both;
  content: "";
}

.wrap-alt {
     margin: 0 auto;
     width: 1120px;
}

@media only screen and (max-width : 1200px) {
    .wrap-alt {
       width: 86vw; 
    }
}


#sl1 {
    height: 100vh;
}

.arrow {
    font-family: "Icons";
    color: #EC6F66;
    display: block;
    font-size: 40px;
    text-align: center;
    width: 100px;
    position: absolute;
    bottom: 7%;
    margin-left: -50px;
    left: 50%;
}

.center-me {
    position: relative;
    top: 15vh;
    display: block;
    left: 5vw;
}

.avatar {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    opacity: .7;
    position: absolute;
}

.intro {
    position: relative;
    width: intrinsic;
    display: block;
    top: 52px;
    left: 2vw;
    margin: 0 auto;
    text-align: left;
}

.intro h1 {
    text-transform: capitalize;
}

.intro h1, .intro h2 {
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
}

#sl2 {
    background: #EC6F66;
    z-index: 1;
    overflow: hidden;
}

#sl2 .button {
    display: block;
    margin: 0 auto;
    width: intrinsic;
    line-height: 36px;
    background-color: none;
    border-color: #f3f0f0;
    text-transform: uppercase;
    color: #f3f0f0;
    padding: none;
    font-weight: 900; 
    font-size: 20px;
    height: 52px;
    min-width: 140px;
    margin-top: 7vh;
    letter-spacing: 2px;
}

#sl2 .button:hover {
    color: #504a46;
    border-color: #504a46;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.cta {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
    color: #f3f0f0;
    top: 28vh;
    float: left;
}

@media only screen and (max-width : 1200px) {
    .wrap-alt {
       width: 90%; 
    }
    .g2 {
       width: 45% 
    }
    .cta h1 {
    }
}


.g2 {
    display: inline-block;
    width: 50%;
    height: 100vh;
}

.g2:after{
    display: table;
    clear: both;
    content: ""; 
}

  
.code {
    position: relative;
    display: inline-block;
    float: right;
    z-index: 5;
}

#tripwire {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 92vh;
    z-index: 100;
}
  
.window {
    width: auto;
    height: 100%;
    min-height: 300px;
    position: absolute;
    left: 12vw;
    top: 16vh;
    display: none;
}

#sl3 {
    height: 100vh;
}

#tripwire-2 {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 184vh;
    z-index: 100;
}

.g-wrap {
   display: block;
   margin: 0 auto;
   position: relative;
   top: 14vh;
}


.g3 {
    width: 32%;
    max-width: 372px;
    display: inline-block;
    height: auto;
    min-height: 400px;
    position: relative;
}

.g3 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.g3 h2 {
    text-align: center;
    padding-top: 6vh;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    text-transform: capitalize;
}

.g3 p {
    font-size: 18px;
    line-height: 27px;
    padding-top: 18px;
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 14%;
}

.g3 .scale {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: .6s;
  -webkit-animation-fill-mode: both;
}

.g3:after{
    display: table;
    clear: both;
    content: ""; 
}

.twerkin {
   display: block;
   margin: 0 auto; 
   width: auto;
   height: auto;
}

#sl4 {
    height: 100vh;
}


.work {
   /* Prevent vertical gaps */
    padding-top: 10%;
    padding-bottom: 10%;
   line-height: 0;
  /* Grid */
   -webkit-column-count: 3;
   -webkit-column-gap:   5%;
   -moz-column-count:    3;
   -moz-column-gap:      5%;
   column-count:         3;
   column-gap:           5%;
   
}

#work img {
  /* Just in case there are inline attributes */
  width:  80% !important;
  height: auto !important;
  border: 4px solid #fffffa;
  border-radius: 3px;
  margin-top: 5%;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#sl5 {
    height: 100vh;
}



/*- ARTICLE ----------------------------------- */
section.article {
  position: relative;
  margin-bottom: 50px;  
}

section.archive {
  margin-top: 50px;  
  margin-bottom: 50px;
}

.archive-wrap .post-list {
    width: 100%;
    list-style: none;
    list-style-type: none;
}

.post-list .bb{
    border-bottom: 4px solid #EC6F66;
}

section.archive ol.post-list li {
  margin-bottom: 18px;
  padding: 72px 0;
  width: 100%;
  font-size: 24px;
}

.deets {
    position: relative;
    top: 45px;
    z-index: 5;
}

.deets .date {
    position: relative;
    left: 6px;
    color: #b1b1b1;
    font-style: normal;
    font-size: 18px;
    top: 10px;
    font-family: 'brandon-grotesque','grots','Open Sans', sans-serif;

}

.featured-image-small {
    float: left;
    position: relative;
    z-index: 10;
    margin-right: 3em;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


section.archive ol.post-list li span, section.archive ol.post-list li span time {
  vertical-align: middle;
  font-size: 15px;
  line-height: 36px;
}
section.article img.loading {
  position: absolute;
  top: 35vh;
  left: 50%;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-left: -1.2rem;
}

section.article div.featured-image {
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 70vh;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.article .payment {
    height: 20vh;
}


section.article article.post header.post-header {
  margin: 72px 0 36px 0;
}
section.article article.post header.post-header hgroup {
  position: relative;
  width: 100%;
  color: #504a46;
  text-align: center;
}
section.article article.post header.post-header hgroup p.date {
  margin-top: 24px;
  color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
}
section.article article.post header.post-header hgroup h1 {
  margin-bottom: 18px;
  letter-spacing: -1px;
}
section.article article.post header.post-header hgroup p.lead {
  margin-bottom: 0;
  text-align: left;
  font-size: 28px;
  line-height: 40px;
}

section.article article.post h1, h2, h3, h4, h5 {
    margin-bottom: 18px;
}

section.article article.post figure {
  margin: 36px 0;
}
section.article article.post figure figcaption {
  font-style: italic;
  font-size: 12px;
}
section.article article.post figure img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
section.article article.post p.meta {
  color: #999999;
  font-style: italic;
  font-size: 16px;
}
section.article article.post .video-container {
  position: relative; overflow: hidden;
  margin-bottom: 36px;
  padding-top: 30px;
  padding-bottom: 56.25%; height: 0;
}

section.article article.post .video-container iframe,
section.article article.post .video-container object,
section.article article.post .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hilite {
    display: inline-block;
    padding: 0 0.25em;
    border-radius: 3px;
    background: rgb(255, 245, 207);
}

/*- FOOTER ----------------------------------- */
.push {
  height: 320px !important; 
  }
  
footer {
  margin-top: 50px;
  padding-bottom: 20px;
  height: 320px;
  background-color: #504a46;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
}


/* Social */

.social {
  float: right;
  padding-top: 102px;
  width: auto;
  font-size: 20px;
  font-family: 'Sans Serif','Open Sans', sans-serif;

   }
  .social ul {
    list-style: none;
    list-style-type: none; }
    .social ul li {
      margin-bottom: 38px; }
    .social ul li:last-child {
        margin-bottom: 0;
    }
  .social .foot-link {
    margin-left: 10px; 
    }
@media only screen and (max-width : 760px) {
    .social {
        padding-top: 72px;
        width: 80px;
    }
    .social ul li {
        margin-bottom: 30px;
    }
    
    .social .icons {
        float: right;
        text-align: right;
        font-size: 30px;
    }
    .foot-link {
        visibility: hidden;
    }
    .social ul li:first-child {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width : 620px) {
    .social .icons {
        float: right;
        text-align: right;
    }
    
    .previous-posts {
        width: 220px;
    }
    
    .recent-list {
        width: 220px;
    }
    
    .date {
        display: none;
    }
    
    .foot-link {
        visibility: hidden;
    }
}

@media only screen and (max-width : 480px) {
    .social {
        display: none;
    }
    
    .previous-posts {
        max-width: 90vw;
        width: auto;
        width: 320px;
    }
    
    .previous-posts ol li {
        width: 330px;
    }
    
    .recent-list {
        max-width: 90vw;
        width: 320px;
        width: auto;
    }
}

.icons {
  font-size: 14px;
  font-family: "Icons";
  line-height: 20px; }
  .icons a {
    border-bottom: none; }

#mail {
  color: #fbfaf8; }
  #mail:hover {
    color: rgba(251, 250, 248, 0.7); }

#drib {
  color: #EC9E92; }
  #drib:hover {
    color: rgba(236, 158, 146, 0.7); }

#twit {
  color: #4099FF; }
  #twit:hover {
    color: rgba(64, 153, 255, 0.7); }

/* Recent Posts */

.previous-posts {
    float: left;
    list-style-type: none;
    line-height: 48px;
    font-family: 'Sans Serif', serif;
}

.previous-posts p {
    padding-top: 72px;
    font-family: 'Sans Serif', serif;
}

.unprepped {
    position: absolute;    
}

footer .recent-list {
  margin-bottom: 0;
  padding-top: 36px;
  border-bottom: 4px solid #A5DA95;
  color: #FBFAF8;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 26px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
  line-height: 38px;
}

footer ol.previous-posts li {
  margin-top: 10px;
  width: auto;
}
footer ol.previous-posts li:after {
  display: table;
  clear: both;
  content: '';
}
footer ol.previous-posts li .recent-title {
  float: left;
  width: 220px;
  font-family: 'Sans Serif', serif;
}
footer ol.previous-posts li a {
  color: #FBFAF8;
}
footer ol.previous-posts li a:hover {
  color: #EC6F66;
}
footer ol.previous-posts li span.date {
  float: right;
  color: #777D88;
  text-align: right;
  font-size: 16px;
  position: relative;
  top: 2px;
  font-family: 'Sans Serif', sans-serif;
}

/* Contact Form */

form {
    display: block;
}

.contact-form {
    display: block;
    margin: 0 auto;
    width: 550px;
    font-size: 20px;
    position: relative;
    top: 4vh;
    line-height: 30px;
    font-family: "Sans Serif";
}

.form-block {
  display: block;
  width: 550px;
  border-radius: 4px;
  height: 60px;
  font-style: 18px;
}

input[type="text"], input[type="email"] {
  color: #504a46;
  padding: 15px 20px 15px 20px;
  border: 4px solid #e9e9e9;


}

input[type="text"], input[type="email"], input[type="submit"], .mailer {
  outline: none;
  width: 100%;
  margin-bottom: 30px;
  line-height: 30px;
  font-family: "Sans Serif";
  display: inline-block;
  border-radius: 4px;
  font-size: 20px;
  float: right;
  z-index: 1;
  position: relative;
}

.form-block input:focus:required:invalid {
  border-color: #ffbac7;
}

.form-block input:focus:required:valid {
  border-color: #a5da95;
}

textarea {
  display: block;
  color: #504a46;
  width: 550px;
  border: none;
  resize: none;
  border-radius: 4px;
  margin-bottom: 0;
  font-family: "Sans Serif";
  padding: 15px 20px;
  font-size: 20px;
  border: 4px solid #e9e9e9;

}

textarea:focus {
  outline: none;
  background: #fffff;
  color: #504a46;
}

input[type="submit"], .mailer {
  width: 150px;
  height: 52px;
  margin-top: 0;
  display: inline-block;
  background: none;
  color: #ffffff;
  background: none;
  border: 4px solid #a5da95;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: hand !important;
}

input[type="submit"] {
    color: #a5da95;
    cursor: hand !important;

}

input[type="submit"]:hover {
  border-color: #85cd6f;
  color: #85cd6f;

  
  
}
input[type="submit"]:active {
  border-color: #75c65c;
  color: #75c65c;
}

.mailer {
  float: right;
  line-height: 44px;
  text-decoration: none;
  color: #EC6F66;
  border: none;
  text-align: right;
  font-weight: 900;
}

.mailer:hover {
  color: #504a46;
}

.mailer:active {
  color: #504a46;
}

::-webkit-input-placeholder {
  color: #dfdfdf;
  font-style: 18px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d2d2d2;
  font-style: 18px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d2d2d2;
  font-style: 18px;
}

:-ms-input-placeholder {
  color: #d2d2d2;
  font-style: 18px;
}


/*- MEDIA QUERIES ----------------------------------- */
@media only screen and (max-width : 960px) {
  
   footer {
      overflow-x: hidden !important;
  }
  
  .wrap {
    max-width: 100%;
    width: 100%;
  }
  .wrap.post {
    padding: 0 7%;
    max-width: 780px;
    overflow-x: hidden;
  }
  header.site-header {
    padding: 20px 7%;
    overflow-x: hidden;
  }
  
   /* All Posts */
   
   .archive-wrap {
       width: 600px;
   }
   
    .deets {
        position: relative;
        top: 20px;
}

    section.archive ol.post-list li {
      margin-bottom: 16px;
      padding-top: 72px;
      padding-bottom: 72px;
      width: 100%;
      font-size: 24px;
    }

    .featured-image-small {
        float: left;
        margin-right: 2em;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

    section.archive ol.post-list li span, section.archive ol.post-list li span time {
      vertical-align: middle;
      font-size: 15px;
      line-height: 20px;
    }
    
    .post-list h1 {
        font-size: 40px;
        line-height: 50px;
    }

  
}

@media only screen and (max-width : 680px) {
 
 /* All Posts */
  
   footer {
      overflow-x: hidden !important;
  }
  
  section.archive {
      margin-top: 50px;
  }
  
   .archive-wrap {
       width: 90%;
       display: block;
       margin: 0 auto;
   }
   
   
   
   .post-list h1 {
       font-size: 36px;
       line-height: 45px;
   }
  
    .deets {
        position: relative;
        top: 20px;
}

    .featured-image-small {
        float: left;
        margin-right: 1em;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

    section.archive ol.post-list li {
      margin-bottom: 0px;
      padding-top: 72px;
      padding-bottom: 72px;
      width: 100%;
      font-size: 24px;
    }
      
  section.article img.loading {
    top: 10px !important;
    right: 6%;
    left: inherit;
  }

  section.article article.post header.post-header {
      margin: 36px 0;
  }

  article.post header.post-header hgroup h1 {
    font-size: 28px !important;
  }
  article.post header.post-header hgroup p.date {
    font-size: 12px !important;
    font-family: 'Sans Serif','Open Sans', sans-serif;

  }
  article.post p, article.post ul, article.post ol {
    margin-bottom: 30px;
    font-size: 20px !important;
    line-height: 30px !important;
  }
  article.post ul, article.post ol {
    margin-left: 30px;
  }
  article.post li {
    line-height: 30px !important;
  }
  article.post p.lead, article.post blockquote {
    font-size: 24px !important;
  }
  article.post blockquote {
    padding-left: 20px;
    line-height: 20px;
  }
  header.site-header {
    min-height: 59px;
  }
  header.site-header hgroup h1 {
    margin-bottom: 0;
  }
  header.site-header hgroup {
    position: absolute;
    left: 7%;
    float: none;
  }
  header.site-header a.menu {
    position: absolute;
    right: 7%;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
  }
  header.site-header a.menu img {
    width: 16px;
    height: 16px;
  }
  header.site-header nav {
    display: none;
    float: none;
    width: 100%;
  }
  header.site-header nav:before {
    display: table;
    clear: both;
    content: '';
  }
  header.site-header nav ul {
    padding: 45px 0 10px 0;
  }
  header.site-header nav ul li {
    display: block;
    margin-left: 0;
    border-top: 1px solid #DDDDDD;
    font-size: 24px;
  }
  header.site-header nav ul li a {
    display: block;
    padding: 15px 0;
    width: 100%;
    color: #504a46;
  }
  header.site-header nav ul li a:active {
    background-color: #EC6F66;
    color: #FFFFFF;
  }
}

@media only screen and (max-width : 500px) {

/* All Posts */

.archive-wrap {
    margin: 0 auto;
    width: 96%;
}

.post-list li {
    width: 100%;
    height: 100px;
    text-align: center;
}

   .post-list h1 {
       font-size: 36px;
       line-height: 48px;
   }
  
    .deets {
        position: relative;
        top: 25px;
}

    section.archive ol.post-list li {
      margin-bottom: 16px;
      padding-top: 32px;
      padding-bottom: 16px;
      width: 100%;
      font-size: 24px;
    }

.featured-image-small {
    display: none;
}

.deets.date {
    display: inline-block;
    visibility: visible;

}


section.article img.loading {
  position: absolute;
  top: 25vh;
  left: 50%;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-left: -12px;
}

section.article div.featured-image {
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 50vh;
  max-height: 260px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.article .payment {
    min-height: 120px;
}

section.article article.post header.post-header hgroup p.lead {
font-size: 20px;
}


footer p.recent-list {
  margin-bottom: 15px;
  border-bottom: 4px solid #A5DA95;
  color: #FBFAF8;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 24px;
  font-family: 'brandon-grotesque', 'grot', 'Open Sans', sans-serif;
  line-height: 30px;
}

.previous-posts li span.date {
  visibility: hidden;
}

}


/* Animations */
@-webkit-keyframes scale-in
{
    0% { 
        opacity             : 0;
        -webkit-transform   : scale(.05);
    }
    100% {
        opacity             : 1;
        -webkit-transform   : scale(1);
    }
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}


@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-90px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

.featured-image-small {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: .6s;
  -webkit-animation-fill-mode: both;

}

.scale {
    -webkit-animation-name: scale-in;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: both;  
}

.fadeIn {
    animation: fadeInDown .5s cubic-bezier(.05,.35,1,.55);
    -webkit-animation: fadeInDown .5s cubic-bezier(0.5, -0.005, .1, .2);
}

.fadeInUp {
    animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
    -webkit-animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
}

.deets {
     -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: 1.2s;
     -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);
    -webkit-animation-delay: 1.2s; 
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes slide {
    0% { top: 22vh; opacity: 0; }
    100% { top: 16vh; opacity: 1; }
}

.slide {
  animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-80px) scale(1);

	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px) scaleX(1.05) scaleY(.92);

	}

	40% {
		-webkit-transform: translateY(10) scaleX(.99) scaleY(1.0);

	}

	60%, 100% {
		-webkit-transform: translateY(0) scale(1);

	}
}

.bounceDown {
    animation: bounceInDown .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: bounceInDown .9s cubic-bezier(0.5, -0.005, .1, 1);

}


/* Icon Font */    
    @font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Icons';
    src: url('http://static.tumblr.com/d0zy9go/tLxmiwev5/icons.eot');
    src: url('http://static.tumblr.com/d0zy9go/tLxmiwev5/icons.eot') format('embedded-opentype'),
         url('http://static.tumblr.com/d0zy9go/0EPmiwewl/icons.woff') format('woff'),
         url('http://static.tumblr.com/d0zy9go/muzmiwew1/icons.ttf') format('truetype'),
         url('http://static.tumblr.com/d0zy9go/Wccmiwex1/icons.svg') format('svg');
}







